{% extends "base.html" %}

{% block content%}
    <ul class="menu_list">
        <li class="menu_item"><a class="menu_link" href="/account/createUser">Добавить пользователя</a></li>
        <li class="menu_item"><a class="menu_link" href="/account/createBron">Забронировать домик</a></li>
        <li class="menu_item"><a class="menu_link" href="/account/createArticles">Создать статью</a></li>
        <li class="menu_item"><a class="menu_link" href="/account/createComments">Создать комментарий</a></li>
    </ul>        
{% endblock content %}