{% extends "base.html" %}

{% block content%}
{% csrf_token %}
    <form method="post" class="form">
        <table>
            {% csrf_token %}
            {{ form }}
        </table>
        <button type="submit">Добавить</button>
    </form>
    {% if user.count > 0 %}
        <h2>Список пользователей</h2>
        <table>
            <thead><th>Id</th><th>Имя</th><th>Фамилия</th><th>Телефон</th></thead>
            {% for user in user %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.phone }}</td>
                <td><a href="/account/editUser/{{user.id}}">Изменить</a> | <a href="/account/deleteUser/{{user.id}}">Удалить</a></td>
             </tr>
            {% endfor %}
        </table>
    {% endif %}    
{% endblock content %}